{% extends "profile/info-layout.html" %}

{% block profile_content %}
   {% partialdef profile_content inline %}
      <div class="flex w-8/10 justify-between">
         <div class="w-2/5">
            <h1 class="mx-auto mb-5 w-fit text-lg font-semibold">
               Followings ({{ user.following_count }})
            </h1>
            <ul class="max-h-60 space-y-5 overflow-y-auto">
               {% partialdef followings inline %}
                  {% for following in followings %}
                     <li class="mx-auto flex items-center justify-between">
                        <c-user-card
                           :user="following"
                           img-size="h-10 w-10"
                           extra-classes="w-1/2 overflow-hidden"
                        />
                        {% include "interaction/follow.html" with user_to_follow_id=following.id is_followed=following.is_followed %}
                     </li>
                     {% if forloop.last and followings.has_next %}
                        <template
                           hx-get="{% url 'user:profile' user_id=user.id partial='followings' %}?{{ GET_params_str }}&page={{ followings.next_page_number }}"
                           hx-trigger="revealed"
                           hx-swap="afterend"
                        ></template>
                     {% endif %}
                  {% endfor %}
               {% endpartialdef followings %}
            </ul>
         </div>

         <div class="w-2/5">
            <h1 class="mx-auto mb-5 w-fit text-lg font-semibold">
               Followers ({{ user.follower_count }})
            </h1>
            <ul class="max-h-60 space-y-5 overflow-y-auto">
               {% partialdef followers inline %}
                  {% for follower in followers %}
                     <li class="mx-auto flex items-center justify-between">
                        <c-user-card
                           :user="follower"
                           img-size="h-10 w-10"
                           extra-classes="w-1/2 overflow-hidden"
                        />
                        {% if follower != request.user %}
                           {% include "interaction/follow.html" with user_to_follow_id=follower.id is_followed=follower.is_followed %}
                        {% endif %}
                     </li>
                     {% if forloop.last and followers.has_next %}
                        <template
                           hx-get="{% url 'user:profile' user_id=user.id partial='followers' %}?{{ GET_params_str }}page={{ followers.next_page_number }}"
                           hx-trigger="revealed"
                           hx-swap="afterend"
                        ></template>
                     {% endif %}
                  {% endfor %}
               {% endpartialdef followers %}
            </ul>
         </div>
      </div>
   {% endpartialdef profile_content %}
{% endblock profile_content %}
