{% extends "profile/info-layout.html" %}

{% block profile_content %}
   {% partialdef profile_content inline %}
      <div id="blogs" class="w-8/10 space-y-10">
         {% partialdef blogs inline %}
            {% for blog in blogs %}
               <c-blog-card :blog="blog" />
               {% if forloop.last and blogs.has_next %}
                  <template
                     hx-get="{% url 'user:profile' user_id=user.id partial='blogs' %}?{{ GET_params_str }}&page={{ blogs.next_page_number }}"
                     hx-trigger="revealed"
                     hx-swap="afterend"
                  ></template>
               {% endif %}
            {% endfor %}
         {% endpartialdef blogs %}
      </div>
   {% endpartialdef profile_content %}
{% endblock profile_content %}
