@import 'tailwindcss';

@theme {
   --color-off-white: #fbfcf8;
   --color-white: #fff;
   --color-black: #0f172a;
   --color-gray-light: #e5e7eb;
   --color-gray-base: #9ca3af;
   --color-gray-dark: #4b5563;
   --color-theme-light: #93d7b7;
   --color-theme-base: #44b78b;
   --color-theme-dark: #0c4b33;
   --spacing-content: calc(100vh - 3.5rem);
   --hover-opacity: 0.85;
   --animate-elastic: elastic 1s ease-in-out infinite;
   @keyframes elastic {
      0% {
         transform: scale(1, 1);
      }
      25% {
         transform: scale(1, 1);
      }
      50% {
         transform: scale(1, 1.5);
      }
      75% {
         transform: scale(1, 1);
      }
      100% {
         transform: scale(1, 1);
      }
   }
}

@custom-variant dark (&:where(.dark, .dark *));
