{% extends "layouts/main-layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
   <!-- Left side bar -->
   {% block left_sidebar %}
      <div
         class="h-content border-gray-light fixed top-14 left-0 flex w-2/10 flex-col justify-between border-r p-3"
      >
         <div class="h-60">
            <div>
               <form
                  action="{% url "user:search" %}"
                  method="get"
                  hx-push-url="false"
                  hx-trigger="keyup changed delay:500ms"
                  hx-target="#search-result"
                  class="border-gray-base flex h-8 items-center justify-between rounded-full border"
               >
                  <input
                     name="query"
                     placeholder="Search people"
                     class="ml-3 h-full w-9/11 focus:outline-none"
                  />
               </form>
            </div>
            <ul id="search-result" class="max-h-50 overflow-y-auto rounded-lg shadow-lg">
               {% include "user/user-search.html" %}
            </ul>
         </div>

         <div class="flex flex-col justify-between space-y-4">
            <a
               href="{% url 'blog:search' partial='content' %}"
               hx-target="#content"
               hx-swap="outerHTML"
               class="hover:bg-gray-light rounded-lg p-2 text-lg font-bold"
            >
               <i class="fa-solid fa-magnifying-glass mr-2"></i>Advanced search
            </a>
            <a
               href="{{ request.user.get_absolute_url }}?tab=saved"
               class="hover:bg-gray-light rounded-lg p-2 text-lg font-bold"
            >
               <i class="fa-solid fa-bookmark mr-2"></i>Saved posts
            </a>
            <a
               href="{{ request.user.get_absolute_url }}?tab=people"
               class="hover:bg-gray-light rounded-lg p-2 text-lg font-bold"
            >
               <i class="fa-solid fa-people-group mr-2"></i>People
            </a>
            <a
               href="{{ request.user.get_absolute_url }}"
               class="hover:bg-gray-light flex items-center rounded-lg p-2 text-lg font-bold"
            >
               <i class="fa-solid fa-user mr-2"></i>Profile
            </a>
            <a
               href="{{ request.user.get_absolute_url }}?tab=settings"
               class="hover:bg-gray-light flex items-center rounded-lg p-2 text-lg font-bold"
            >
               <i class="fa-solid fa-gear mr-2"></i>Settings
            </a>
         </div>

         <div class="grow">
            {% comment %}
               <a
                  hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
                  hx-post="{% url "user:sign-out" %}"
                  hx-target="body"
                  hx-push-url="true"
                  class="hover:bg-gray-light cursor-pointer rounded-lg p-2 text-lg font-bold text-red-700"
               >
                  <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i>Log out</a
               >
            {% endcomment %}
         </div>
      </div>
   {% endblock left_sidebar %}
   <!-- Left side bar -->

   <!-- Content -->
   {% block content %}
   {% endblock content %}
   <!-- Content -->

   <!-- Right side bar -->
   {% block right_sidebar %}
      <div
         class="right-sidebar h-content border-gray-light fixed top-14 right-0 flex w-2/10 flex-col justify-between border-l p-3"
      >
         <div>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="block">
               <h2 class="text-xl font-bold">Some ad</h2>
               <img
                  class="rounded-lg"
                  src="{% static 'img/ad_img.jpg' %}"
                  alt="Advertisement image"
               />
            </a>
         </div>

         <div class="min-h-40">
            <h3 class="ml-1">Your top followings:</h3>
            <ul class="max-h-35 overflow-y-auto" role="list">
               {% for following in top_followings %}
                  <li class="mt-3">
                     <c-user-card
                        :user="following"
                        img-size="h-10 w-10"
                        extra-classes="w-full overflow-hidden"
                     />
                  </li>
               {% endfor %}
            </ul>
         </div>

         <div class="mb-10 min-h-40">
            <h3 class="ml-1">Your top followers:</h3>
            <ul class="max-h-35 overflow-y-auto" role="list">
               {% for follower in top_followers %}
                  <li class="mt-3">
                     <c-user-card
                        :user="follower"
                        img-size="h-10 w-10"
                        extra-classes="w-full overflow-hidden"
                     />
                  </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   {% endblock right_sidebar %}
   <!-- Right side bar -->
{% endblock body %}
