<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{% static "css/tailwind/output.css" %}" />
      <link rel="stylesheet" href="{% static "css/fonts/fontawesome/css/all.min.css" %}" />
      <link rel="stylesheet" href="{% static "css/fonts/font.css" %}" />
      {% comment %}htmx packages{% endcomment %}
      {% htmx_script %}
      {% if debug %}
         <script src="{% static 'js/htmx/logger.js' %}" defer></script>
      {% endif %}

      {% comment %}alpine packages{% endcomment %}
      <script src="{% static 'js/alpine/global.js' %}" defer></script>
      <script src="{% static 'js/alpine/autosize.js' %}" defer></script>
      <script src="{% static 'js/alpine/resize.js' %}" defer></script>
      <script src="{% static 'js/alpine/alpine.js' %}" defer></script>

      <title>{% block title %}{% endblock title %}</title>
   </head>
   <body hx-boost="true" class="bg-off-white">
      <c-header />
      {% block body %}
      {% endblock body %}
   </body>
</html>
