{% load static %}

<a href="" class="{{ extra_classes }} flex items-center justify-center">
   <img
      class="{{ img_size }} border-gray-base rounded-full border"
      {% if user.profile.picture %}
         src="{{ user.profile.picture.url }}"
      {% else %}
         src="{% static "img/stock_pfp.jpg" %}"
      {% endif %}
      alt="{{ user.username }} profile picture"
   />
   <div class="{{ font_size|default:"text-sm" }} {{ text_classes }} ml-2 overflow-hidden">
      <p class="{{ text_element_classes }} line-clamp-1 font-semibold text-black">
         {{ user.username }}
      </p>
      <p class="{{ text_element_classes }} text-gray-dark line-clamp-1">
         {{ user.profile.get_full_name }}
      </p>
   </div>
</a>
