{% extends "layouts/main-layout.html" %}
{% load widget_tweaks %}

{% block body %}
   <c-header />
   <!-- Content -->
   <div class="mx-auto w-8/10 pt-20">
      <h1 class="mb-10 flex justify-center text-3xl font-extrabold">
         {% if blog_id %}
            Edit your blog
         {% else %}
            Write your blog
         {% endif %}
      </h1>

      <div x-data="{totalForm: {{ formset_blog_sections|length }}}">
         <form
            method="post"
            {% if blog_id %}
               action="{% url "blog:edit" blog_id=blog_id partial="blog_form" %}"
            {% else %}
               action="{% url "blog:create" partial="blog_form" %}"
            {% endif %}
            enctype="multipart/form-data"
            hx-target="this"
            hx-push-url="false"
            class="flex w-full flex-col"
         >
            {% partialdef blog_form inline %}
               {% if message %}
                  <c-message message="{{ message }}" />
               {% endif %}
               {% csrf_token %}
               <div class="flex w-full flex-col items-start space-y-4">
                  <div class="mb-15 w-full space-y-3">
                     <c-blog-input-field :field="form_blog.title" />
                     <c-blog-input-field :field="form_blog.description" extra-attrs="x-autosize" />
                  </div>
                  <div x-ref="sections" class="w-full space-y-3">
                     {% render_field management_form.TOTAL_FORMS x-model="totalForm" %}
                     {% render_field management_form.INITIAL_FORMS %}
                     {% render_field management_form.MIN_NUM_FORMS %}
                     {% render_field management_form.MAX_NUM_FORMS %}

                     {% for form_section in formset_blog_sections %}
                        {% if forloop.counter0 in delete_ids %}
                           {% render_field form_section.DELETE|attr:"checked" class="hidden" %}
                           <input type="hidden" name="delete_ids" value="{{ forloop.counter0 }}" />
                        {% else %}
                           <c-blog-section-form
                              :form="form_section"
                              :index="forloop.counter0"
                              :picture="form_section.instance.picture"
                           />
                        {% endif %}
                     {% endfor %}
                  </div>

                  <c-button
                     bg-color="bg-blue-400"
                     text-color="text-white"
                     extra-classes="self-end"
                     x-click="$refs.sections.append($store.utils.createBlogSectionForm($refs.emptyForm, totalForm)); totalForm++;"
                  >
                     <i class="fa-solid fa-plus"></i> Add section
                  </c-button>

                  <c-button type="submit" bg-color="bg-theme-base" text-color="text-white">
                     {% if blog_id %}
                        Save
                     {% else %}
                        Post
                     {% endif %}
                  </c-button>
               </div>
            {% endpartialdef blog_form %}
         </form>
         <span id="empty-section" x-ref="emptyForm" class="hidden">
            <c-blog-section-form :form="empty_form" index="__prefix__" />
         </span>
      </div>
   </div>
   <!-- Content -->
{% endblock body %}
