{% extends "layouts/home-layout.html" %}
{% load static %}

{% block content %}
   {% partialdef content inline %}
      <div id="content" class="mx-80 mb-4 flex w-6/10 flex-col items-center space-y-5 pt-25">
         <div class="mb-2 flex w-8/10 items-center space-x-6">
            <a href="" class="flex rounded-lg">
               <img
                  class="border-gray-base h-10 w-10 rounded-full border"
                  {% if profile.picture %}
                     src="{{ profile.picture.url }}"
                  {% else %}
                     src="{% static "img/stock_pfp.jpg" %}"
                  {% endif %}
                  alt="profile picture"
               />
               <div class="ml-3 overflow-hidden">
                  <p class="line-clamp-1 text-sm font-medium text-black">{{ user }}</p>
                  <p class="text-gray-dark line-clamp-1 text-sm">{{ profile.get_full_name }}</p>
               </div>
            </a>

            <button
               class="border-gray-light bg-theme-light text-gray-dark cursor-pointer rounded-sm border px-2 py-1.5 text-sm font-semibold hover:opacity-85"
            >
               Follow
            </button>
         </div>

         <div class="text-gray-dark mb-2 flex w-8/10 space-x-4 px-1 text-xs">
            <span class=""
               ><i class="fa-solid fa-calendar mr-1"></i>{{ blog.created_at|date:"M d, Y" }}</span
            >
            {% if blog.created_at != blog.updated_at %}
               <span class=""><strong>Editted:</strong> {{ blog.updated_at|date:"M d, Y" }}</span>
            {% endif %}
         </div>

         <div class="interactions w-8/10 space-x-2 px-1">
            <button class="cursor-pointer">
               <i class="fa-regular fa-heart text-lg"></i>{{ blog.likes.count }}
            </button>
            <button class="cursor-pointer"><i class="fa-regular fa-comment text-lg"></i>100</button>
            <button class="cursor-pointer">
               <i class="fa-regular fa-bookmark text-lg"></i>Save
            </button>
         </div>

         <div class="border-gray-light w-8/10 space-y-10 border-b pb-4">
            <div class="space-y-2">
               <h1 class="flex justify-center text-4xl font-bold">{{ blog.title }}</h1>
               <h2 class="text-gray-dark flex justify-center text-xl font-medium">
                  {{ blog.description }}
               </h2>
            </div>
            {% for blog_section in blog_sections %}
               <div class="space-y-2">
                  <h3 class="text-2xl font-bold">
                     {{ forloop.counter }}. {{ blog_section.title|capfirst }}
                  </h3>
                  {% if blog_section.picture %}
                     <div class="space-y-2 mb-6">
                        <img
                           class="rounded-lg mx-auto"
                           src="{{ blog_section.picture.url }}"
                           alt="{{ blog_section.picture }}"
                        />
                        {% if blog_section.picture_title %}
                           <p class="flex justify-center">
                              {{ blog_section.picture_title|capfirst }}
                           </p>
                        {% endif %}
                     </div>
                  {% endif %}
                  <p>{{ blog_section.content }}</p>
               </div>
            {% endfor %}
            <p class="text-gray-dark float-end italic">Written by <strong>{{ user }}</strong></p>
         </div>

         <div class="comment-section w-8/10">
            <h1 class="mb-5 text-xl font-bold">Comments</h1>
            <div class="comments">
               <div class="comment space-y-5">
                  <div class="space-y-2 p-1">
                     <a href="" class="border-gray-light flex border-b pb-2 text-sm">
                        <img
                           class="border-gray-base h-10 w-10 rounded-full border"
                           src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"
                           alt=""
                        />
                        <div class="ml-3 overflow-hidden">
                           <p class="line-clamp-1 font-medium text-black">
                              Heyo ajso asdadw bangalore asdsadsadsadsadsadasdas
                           </p>
                           <p class="text-gray-dark line-clamp-1">
                              Heyo ajso asdadw bangalore asdsadsadsadsadsadasdas
                           </p>
                        </div>
                     </a>
                     <p class="bg-gray-light rounded-lg p-2 text-sm">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over
                        2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                        College in Virginia,
                     </p>
                     <div class="text-gray-dark flex w-8/10 space-x-2 text-xs">
                        <span class="">Sep 15, 2025</span>
                        <span class=""><strong>(Editted)</strong></span>
                     </div>
                     <div class="interactions w-8/10 space-x-2 text-sm">
                        <span><i class="fa-regular fa-heart text-base"></i>100</span>
                        <span><i class="fa-regular fa-comment text-base"></i>100</span>
                     </div>
                  </div>
                  <div class="sub_comments border-l pl-6">
                     <div class="comment space-y-5">
                        <div class="bg-gray-light rounded-lg p-2">
                           <a href="" class="border-gray-base mb-2 flex border-b pb-2 text-sm">
                              <img
                                 class="border-gray-base h-10 w-10 rounded-full border"
                                 src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"
                                 alt=""
                              />
                              <div class="ml-3 overflow-hidden">
                                 <p class="line-clamp-1 font-medium text-black">
                                    Heyo ajso asdadw bangalore asdsadsadsadsadsadasdas
                                 </p>
                                 <p class="text-gray-dark line-clamp-1">
                                    Heyo ajso asdadw bangalore asdsadsadsadsadsadasdas
                                 </p>
                              </div>
                           </a>
                           <p class="mb-4 text-sm">
                              Contrary to popular belief, Lorem Ipsum is not simply random text. It
                              has roots in a piece of classical Latin literature from 45 BC, making
                              it over 2000 years old. Richard McClintock, a Latin professor at
                              Hampden-Sydney College in Virginia,
                           </p>
                           <div class="text-gray-dark mb-2 flex w-8/10 space-x-2 text-xs">
                              <span class="">Sep 15, 2025</span>
                              <span class=""><strong>(Editted)</strong></span>
                           </div>
                           <div class="interactions w-8/10 space-x-2 text-sm">
                              <span><i class="fa-regular fa-heart text-base"></i>100</span>
                              <span><i class="fa-regular fa-comment text-base"></i>100</span>
                           </div>
                        </div>
                        <div class="sub_comments ml-6"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {% endpartialdef content %}
{% endblock content %}
