{% extends "layouts/home-layout.html" %}
{% load static %}

{% block content %}
   {% partialdef content inline %}
      <div
         x-data='{addURL: "{% url "interaction:add-comment" blog_id=blog.id %}",
                  reply: false,
                  commenter: ""}'
         class="mx-auto mb-25 flex w-6/10 flex-col items-center space-y-20 pt-25"
      >
         <div class="mb-2 flex w-8/10 items-center space-x-6">
            <c-user-card :user="blog.user" />
            <c-button
               bg-color="bg-theme-light"
               text-color="text-gray-dark"
               extra-classes="font-semibold"
            >
               Follow
            </c-button>
         </div>

         <div class="text-gray-dark mb-2 flex w-8/10 space-x-4 px-1 text-xs">
            <span class=""
               ><i class="fa-solid fa-calendar mr-1"></i>{{ blog.created_at|date:"M d, Y" }}</span
            >
            {% if blog.created_at != blog.updated_at %}
               <span class=""><strong>Editted:</strong> {{ blog.updated_at|date:"M d, Y" }}</span>
            {% endif %}
         </div>

         <div class="w-8/10 space-x-2 px-1">
            {% include "interaction/like.html" with blog=blog %}
            <a class="cursor-pointer"><i class="fa-regular fa-comment text-lg"></i> 100</a>
            {% include "interaction/save.html" %}
         </div>

         <div class="border-gray-light w-8/10 space-y-10 border-b pb-4">
            <div class="space-y-2">
               <h1 class="flex justify-center text-4xl font-bold">{{ blog.title }}</h1>
               <h2 class="text-gray-dark flex justify-center text-xl font-medium">
                  {{ blog.description }}
               </h2>
            </div>
            {% for blog_section in blog.blogsection_set.all %}
               <div class="space-y-2">
                  <h3 class="text-2xl font-bold">
                     {{ forloop.counter }}. {{ blog_section.title|capfirst }}
                  </h3>
                  {% if blog_section.picture %}
                     <div class="mb-6 space-y-2">
                        <img
                           class="mx-auto rounded-lg"
                           src="{{ blog_section.picture.url }}"
                           alt="{{ blog_section.picture }}"
                        />
                        {% if blog_section.picture_title %}
                           <p class="flex justify-center">
                              {{ blog_section.picture_title|capfirst }}
                           </p>
                        {% endif %}
                     </div>
                  {% endif %}
                  <p>{{ blog_section.content }}</p>
               </div>
            {% endfor %}
            <p class="text-gray-dark float-end italic">
               Written by <strong>{{ blog.user.username }}</strong>
            </p>
         </div>

         {% comment %}Start: comment section{% endcomment %}
         <div id="comment" class="relative w-8/10">
            {% partialdef comment inline %}
               <h1 class="text-xl font-bold">Comments</h1>
               <div>
                  {% for comment in root_comments %}
                     <c-comment :blog="blog" :comment="comment" />
                  {% endfor %}
               </div>
               <div class="bg-gray-light fixed bottom-0 left-[25%] w-1/2 rounded-t-sm px-2 py-2">
                  <form
                     :action="addURL"
                     method="post"
                     hx-target="this"
                     hx-push-url="false"
                     hx-swap="show:window:bottom"
                     @submit='document.body.addEventListener("htmx:configRequest", (event)=>{console.log(event.detail)})'
                     class="flex w-full flex-col rounded-md bg-white"
                  >
                     {% partialdef comment-form inline %}
                        {% csrf_token %}
                        <div
                           x-show="reply"
                           class="bg-gray-light flex justify-between px-2 pb-1 text-sm"
                        >
                           <p>
                              Replying to
                              <span x-text="commenter" class="font-semibold italic"></span>
                           </p>
                           <button
                              @click='document.body.addEventListener("htmx:configRequest", (event)=>{event.detail.path = addURL;});
                                      reply=false;'
                              type="button"
                              class="cursor-pointer hover:underline"
                           >
                              Cancel
                           </button>
                        </div>
                        {{ form.content }}
                        <div class="flex justify-between px-2 py-1.5">
                           <div class="flex items-center text-lg">
                              <i class="fa-regular fa-image"></i>
                           </div>
                           <c-button
                              type="submit"
                              bg-color="bg-theme-dark"
                              text-color="text-white"
                              padding="px-2 py-1"
                           >
                              Comment
                           </c-button>
                        </div>
                     {% endpartialdef comment-form %}
                  </form>
               </div>
            {% endpartialdef comment %}
         </div>
         {% comment %}End: comment section{% endcomment %}
      </div>
   {% endpartialdef content %}
{% endblock content %}
