{% extends "layouts/home-layout.html" %}
{% load static %}

{% block content %}
   {% partialdef content inline %}
      <c-page-title>Home</c-page-title>
      <div id="content" class="mx-auto mb-25 flex w-6/10 flex-col items-center pt-25">
         <div class="border-gray-light mb-8 flex w-7/10 items-center justify-between border-b">
            <form
               x-data="{displayForm: $el, URL: '{% url "blog:index" partial='blogs' %}',
                        currentFilter: new URLSearchParams(location.search).get('filter') || 'following',
                        currentSort: new URLSearchParams(location.search).get('sort') || 'popularity'}"
               hx-target="#blogs"
               hx-swap="show:none"
               hx-push-url="true"
               class="flex w-full justify-between"
            >
               <div class="flex">
                  {% for filter_type in filter_types %}
                     <c-tab
                        id="blog-{{ filter_type }}"
                        value="{{ filter_type }}"
                        name="filter"
                        text="{{ filter_type|capfirst }}"
                        x-model="currentFilter"
                        x-class="currentFilter === '{{ filter_type }}' ? 'bg-theme-base text-white pointer-events-none' : 'hover:bg-gray-light';
                                 await $nextTick(); $el.classList.remove('bg-theme-base', 'text-white', 'pointer-events-none');"
                        x-change="htmx.ajax('GET', URL, {source: displayForm})"
                     />
                  {% endfor %}
               </div>
               <div class="flex">
                  {% for sort_type in sort_types %}
                     <c-tab
                        id="blog-{{ sort_type }}"
                        value="{{ sort_type }}"
                        name="sort"
                        text="{{ sort_type|capfirst }}"
                        x-model="currentSort"
                        x-class="currentSort === '{{ sort_type }}' ? 'bg-theme-base text-white pointer-events-none' : 'hover:bg-gray-light';
                                 await $nextTick(); $el.classList.remove('bg-theme-base', 'text-white', 'pointer-events-none');"
                        x-change="htmx.ajax('GET', URL, {source: displayForm})"
                     />
                  {% endfor %}
               </div>
            </form>
         </div>

         <div id="blogs" class="w-7/10 space-y-10">
            {% partialdef blogs inline %}
               {% for blog in blogs %}
                  <c-blog-card :blog="blog" />
                  {% if forloop.last and blogs.has_next %}
                     <template
                        hx-get="{% url 'blog:index' partial='blogs' %}?{{ GET_params_str }}&page={{ blogs.next_page_number }}&snapshot={{ snapshot }}"
                        hx-trigger="revealed"
                        hx-swap="afterend"
                        hx-indicator="#loader"
                     ></template>
                  {% endif %}
               {% endfor %}
            {% endpartialdef blogs %}
            <c-loader size="size-4" />
         </div>
      </div>
   {% endpartialdef content %}
{% endblock content %}
