{% extends "layouts/profile-layout.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
   <div class="ml-[20%] w-6/10 pt-17">
      <h1 class="mb-5 flex justify-center text-center text-3xl font-extrabold">Edit profile</h1>
      <form
         method="post"
         action="{% url "user:edit-profile" partial=None %}"
         enctype="multipart/form-data"
         hx-push-url="false"
         class="mx-auto flex w-8/10 justify-center"
      >
         {% partialdef edit_profile inline %}
            <c-page-title>Edit profile</c-page-title>
            {% csrf_token %}
            <div
               x-data="{src: {% if user.picture %}
                  '{{ user.picture.url }}'
               {% else %}
                  '{% static 'img/stock_pfp.jpg' %}'
               {% endif %}, 
                        text: 'Upload image', 
                        icon: '<i class=\'fa-solid fa-upload\'></i>'}"
               class="flex flex-col items-center justify-start space-x-15"
            >
               <span class="block h-37 w-37">
                  <img
                     class="border-gray-base size-full rounded-full border"
                     :src="src"
                     alt="{{ user.username }} profile picture"
                  />
               </span>

               <c-button
                  tag="label"
                  for="{{ form.picture.auto_id }}"
                  bg-color="bg-theme-light"
                  text-color="text-gray-dark"
                  extra-classes="mt-2.5 truncate font-semibold w-32"
                  :extra-attrs="{'x-html': '`${icon} ${text}`'}"
               >
                  <i class="fa-solid fa-upload"></i>
               </c-button>

               {% render_field form.picture @change="[src, text] = $store.utils.displayImage($el);" class="hidden" %}
            </div>

            <div class="flex flex-col items-start space-y-4">
               {% if message %}
                  <c-message
                     message="{{ message }}"
                     type="success"
                     extra-classes="w-fit px-2 py-1"
                  />
               {% endif %}
               <div class="flex space-x-5">
                  <c-user-input-field
                     :field="form.first_name"
                     label="First name"
                     display="block"
                     error-classes="mb-2 w-fit px-2 py-1"
                  />
                  <c-user-input-field
                     :field="form.last_name"
                     label="Last name"
                     display="block"
                     error-classes="mb-2 w-fit px-2 py-1"
                  />
               </div>
               <c-user-input-field
                  :field="form.birthday"
                  label="Birthday"
                  display="block"
                  error-classes="mb-2 w-fit px-2 py-1"
               />
               <c-user-input-field
                  :field="form.address"
                  label="Address"
                  display="block"
                  extra-classes="w-full"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
               />
               <c-user-input-field
                  :field="form.education"
                  label="Education"
                  display="block"
                  extra-classes="w-full"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
               />
               <c-user-input-field
                  :field="form.work"
                  label="Work"
                  display="block"
                  extra-classes="w-full"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
               />
               <c-user-input-field
                  :field="form.link"
                  label="Link"
                  display="block"
                  extra-classes="w-full"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
               />
               <c-user-input-field
                  :field="form.bio"
                  label="Bio"
                  display="block"
                  extra-classes="w-full"
                  field-classes="w-full"
               />
               <c-button
                  type="submit"
                  bg-color="bg-theme-base"
                  text-color="text-white"
                  font-size="text-base"
                  padding="px-3 py-1.5"
                  extra-classes="self-end"
               >
                  Save
               </c-button>
            </div>
         {% endpartialdef edit_profile %}
      </form>
   </div>
{% endblock content %}
