{% extends "layouts/profile-layout.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
   <!-- Content -->
   <div class="content mb-4 ml-90 pt-15">
      <div class="mb-5 flex items-center justify-center text-3xl">
         <a href="{% url "blog:index" %}" class="text-gray-dark">
            <i class="fa-solid fa-arrow-left p-1 hover:underline"></i>
         </a>
         <h1 class="w-9/10 text-center font-extrabold">Edit profile</h1>
      </div>
      <div class="flex w-full items-center justify-center">
         <form
            method="post"
            action="{% url "user:edit-profile" %}"
            enctype="multipart/form-data"
            hx-swap="show:no-scroll"
            hx-push-url="false"
            class="detail flex w-8/10 justify-start"
         >
            {% csrf_token %}
            <div
               x-data="{src: '', file: '', text: 'Upload image', icon: '<i class=\'fa-solid fa-upload\'></i> '}"
               {% if user.profile.picture %}
                  x-init="src = '{{ user.profile.picture.url }}'"
               {% else %}
                  x-init="src = '{% static 'img/stock_pfp.jpg' %}'"
               {% endif %}
               class="profile-img flex flex-col items-center justify-start space-x-15"
            >
               <span class="block h-37 w-37">
                  <img
                     id="profile_picture"
                     class="border-gray-base size-full rounded-full border"
                     :src="src"
                     alt=""
                  />
               </span>

               <c-button
                  tag="label"
                  for="{{ form.picture.auto_id }}"
                  bg-color="bg-theme-light"
                  text-color="text-gray-dark"
                  extra-classes="mt-2.5 truncate font-semibold w-32"
                  extra-attrs="x-html=`${icon}${text}`"
               >
               </c-button>

               {% render_field form.picture @change="file = $el.files[0]; if (file) src = URL.createObjectURL(file); text = file.name; $nextTick(() => { URL.revokeObjectURL(src) })" class="hidden" %}
            </div>

            <div class="profile-detail flex flex-col items-start space-y-4">
               {% if message %}
                  <span
                     class="bg-theme-light text-theme-dark w-full rounded-sm px-3 py-1.5 text-lg font-bold"
                  >
                     <p>{{ message }}<i class="fa-solid fa-circle-check ml-1"></i></p>
                  </span>
               {% endif %}

               <div class="flex space-x-5">
                  <span>
                     <c-error :field="form.first_name" />
                     <label for="{{ form.first_name.auto_id }}" class="block font-semibold"
                        >First name</label
                     >
                     {{ form.first_name }}
                  </span>
                  <span>
                     <c-error :field="form.last_name" />
                     <label for="{{ form.last_name.auto_id }}" class="block font-semibold"
                        >Last name</label
                     >
                     {{ form.last_name }}
                  </span>
               </div>
               <span>
                  <c-error :field="form.birthday" />
                  <label for="{{ form.birthday.auto_id }}" class="block font-semibold"
                     >Birthday</label
                  >
                  {{ form.birthday }}
               </span>
               <span class="w-full">
                  <c-error :field="form.address" />
                  <label for="{{ form.address.auto_id }}" class="block font-semibold"
                     >Address:</label
                  >
                  {% render_field form.address class+="w-full" %}
               </span>
               <span class="w-full">
                  <c-error :field="form.education" />
                  <label for="{{ form.education.auto_id }}" class="block font-semibold"
                     >Education:</label
                  >
                  {% render_field form.education class+="w-full" %}
               </span>
               <span class="w-full">
                  <c-error :field="form.work" />
                  <label for="{{ form.work.auto_id }}" class="block font-semibold">Work:</label>
                  {% render_field form.work class+="w-full" %}
               </span>
               <span class="w-full">
                  <c-error :field="form.link" />
                  <label for="{{ form.link.auto_id }}" class="block font-semibold">Link:</label>
                  {% render_field form.link class+="w-full" %}
               </span>
               <span class="w-full">
                  <c-error :field="form.bio" />
                  <label for="{{ form.bio.auto_id }}" class="block font-semibold">Bio:</label>
                  {% render_field form.bio class+="w-full" %}
               </span>

               <c-button
                  type="submit"
                  bg-color="bg-theme-base"
                  text-color="text-white"
                  font-size="text-base"
                  padding="px-3 py-1.5"
                  extra-classes="self-end"
               >
                  Save
               </c-button>
            </div>
         </form>
      </div>
   </div>
   <!-- Content -->
{% endblock content %}
