{% extends "layouts/auth-layout.html" %}
{% load widget_tweaks %}

{% block title %}Sign in{% endblock title %}

{% block left_sidebar %}
   <div
      class="left-sidebar min-h-content bg-theme-light relative top-14 left-0 flex w-2/5 flex-col items-center justify-center overflow-auto"
   >
      {% partialdef form inline %}
         <div id="form" class="bg-theme-light flex w-6/10 flex-col justify-center space-y-2 py-6">
            <h1 class="text-text-black mb-6 text-3xl font-extrabold">Sign in to your account</h1>
            <form
               method="post"
               action="{% url "user:sign-in" %}"
               hx-target="#form"
               hx-swap="outerHTML"
               x-data="{showPassword:false}"
               class="flex flex-col"
            >
               {% csrf_token %}

               {% if messages %}
                  {% for message in messages %}
                     <span
                        class="bg-theme-base text-theme-dark mb-2 w-full rounded-sm px-3 py-1.5 text-lg font-bold"
                     >
                        <p>{{ message }}<i class="fa-solid fa-circle-check ml-1"></i></p>
                     </span>
                  {% endfor %}
               {% endif %}

               <c-error :field="form.username" />
               <label for="{{ form.username.auto_id }}" class="font-semibold">Username:</label>
               {% render_field form.username class+="mb-6" %}

               <c-error :field="form.password" />
               <label for="{{ form.password.auto_id }}" class="font-semibold">Password:</label>
               {% render_field form.password ::type="showPassword?`text`:`password`" class+="mb-2" %}

               <div class="mb-3 flex items-center space-x-1 text-sm">
                  <input id="show-password" type="checkbox" x-model="showPassword" />
                  <label for="show-password">show password</label>
               </div>

               <c-button
                  type="submit"
                  bg-color="bg-theme-dark"
                  text-color="text-white"
                  font-size="text-base"
                  extra-classes="self-center"
               >
                  Sign in
               </c-button>
            </form>

            <div class="flex items-center justify-center text-sm">
               <p>Don't have an account?&nbsp;</p>
               <a
                  href="{% url "user:sign-up" %}"
                  hx-target="#form"
                  hx-swap="outerHTML"
                  class="text-theme font-semibold underline"
                  >Sign up here</a
               >
            </div>

            <script>
               document.title = 'Signin';
            </script>
         </div>
      {% endpartialdef form %}
   </div>
{% endblock left_sidebar %}
