{% extends "layouts/auth-layout.html" %}
{% block title %}Sign up{% endblock title %}

{% block left_sidebar %}
   <div
      class="left-sidebar min-h-content bg-theme-light relative top-14 left-0 flex w-2/5 flex-col items-center justify-center overflow-auto"
   >
      {% partialdef form inline %}
         <div id="form" class="bg-theme-light flex w-6/10 flex-col justify-center space-y-2 py-6">
            <h1 class="text-text-black mb-6 text-3xl font-extrabold">Create an account</h1>
            <form
               method="post"
               action="{% url "user:sign-up" %}"
               hx-target="#form"
               hx-swap="outerHTML"
               class="flex flex-col"
            >
               {% csrf_token %}
               {% for field in form %}
                  {% if field.errors %}
                     <div
                        class="mb-1 space-y-1.5 rounded-sm bg-red-300 px-2 py-1 font-bold text-red-700"
                     >
                        {% for error in field.errors %}
                           <p>{{ error }}</p>
                        {% endfor %}
                     </div>
                  {% endif %}
                  <label for="{{ field.auto_id }}" class="font-semibold"
                     >{{ field.label|title }}:</label
                  >
                  {{ field }}
               {% endfor %}
               <div class="show-password mb-3 flex items-center space-x-1 text-sm">
                  <input type="checkbox" />
                  <p>show password</p>
               </div>

               <input
                  type="submit"
                  value="Sign up"
                  class="bg-theme-dark cursor-pointer self-center rounded-md p-2 text-white hover:opacity-(--hover-opacity)"
               />
            </form>

            <div class="flex items-center justify-center text-sm">
               <p>Already have an account?&nbsp;</p>
               <a
                  href="{% url "user:sign-in" %}"
                  hx-target="#form"
                  hx-swap="outerHTML"
                  class="text-theme font-semibold underline"
                  >Sign in here</a
               >
            </div>
         </div>
         <script class="no">
            document.title = 'Sign up';
         </script>
      {% endpartialdef form %}
   </div>
{% endblock left_sidebar %}
