{% extends "layouts/auth-layout.html" %}

{% block left_content %}
   <div
      class="min-h-content bg-theme-light relative top-14 left-0 flex w-2/5 flex-col items-center justify-center overflow-auto"
   >
      <div id="auth-form" class="bg-theme-light flex w-6/10 flex-col justify-center space-y-2 py-6">
         {% partialdef auth_form inline %}
            <c-page-title>Sign in</c-page-title>
            <h1 class="mb-5 text-3xl font-extrabold">Sign in to your account</h1>
            <form
               method="post"
               action="{% url "user:sign-in" partial="auth_form" %}"
               x-data="{showPassword: false}"
               hx-target="#auth-form"
               hx-push-url="false"
               hx-indicator="#loader"
               hx-disabled-elt="find button[type='submit']"
               class="flex flex-col"
            >
               {% csrf_token %}
               {% if messages %}
                  {% for message in messages %}
                     <c-message
                        message="{{ message }}"
                        type="success"
                        extra-classes="mb-5 w-fit px-2 py-1"
                     />
                  {% endfor %}
               {% endif %}

               <c-user-input-field
                  :field="form.username"
                  label="Username:"
                  extra-classes="mb-5"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
               />

               <c-user-input-field
                  :field="form.password"
                  label="Password:"
                  extra-classes="mb-2"
                  field-classes="w-full"
                  error-classes="mb-2 w-fit px-2 py-1"
                  extra-attrs="::type = showPassword?'text'::'password' autocomplete = on"
               />

               <div class="mb-3 flex items-center space-x-1 text-sm">
                  <input id="show-password" type="checkbox" x-model="showPassword" />
                  <label for="show-password" class="select-none">show password</label>
               </div>

               <c-button
                  type="submit"
                  bg-color="bg-theme-dark"
                  text-color="text-white"
                  font-size="text-base"
                  extra-classes="self-center"
               >
                  Sign in
               </c-button>
            </form>

            <div class="flex items-center justify-center text-sm">
               <p class="mr-1">Don't have an account?</p>
               <a
                  href="{% url "user:sign-up" partial="auth_form" %}"
                  hx-target="#auth-form"
                  class="font-semibold underline"
                  >Sign up here</a
               >
            </div>
         {% endpartialdef auth_form %}
      </div>
      <c-loader size="size-4" />
   </div>
{% endblock left_content %}
