<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{% static "css/tailwind/output.css" %}" />
      <link rel="stylesheet" href="{% static "css/fonts/fontawesome/css/all.min.css" %}" />
      <link rel="stylesheet" href="{% static "css/fonts/font.css" %}" />
      {% htmx_script %}
      <title>{% block title %}{% endblock title %}</title>
   </head>
   <body hx-boost="true">
      <div class="wrapper flex">
         {% block body %}
         {% endblock body %}
      </div>
      <script src="{% static 'js/htmxConfig.js' %}"></script>
      <script src="{% static 'js/showPassword.js' %}"></script>
      <script src="{% static 'js/previewImage.js' %}"></script>
   </body>
</html>
