{% load widget_tweaks %}

<div
   x-data="{src: '', fileName: '',
            deletePicture: false, isDeleted: false}"
   {% if picture %}
      x-init="src = '{{ picture.url }}'; fileName = '{{ picture.name }}'"
   {% endif %}
   x-show="!isDeleted"
   x-transition
   class="border-gray-light flex flex-col space-y-3 border-b"
>
   {% render_field form.id %}
   <c-button
      tag="label"
      for="{{ form.DELETE.auto_id }}"
      bg-color="bg-red-400"
      text-color="text-white"
      extra-classes="self-end"
   >
      <i class="fa-regular fa-trash-can"></i>
      Delete section
   </c-button>

   {% render_field form.DELETE x-model="isDeleted" class="hidden" %}
   <input type="hidden" name="delete_ids" :value="isDeleted ? {{ index }} : ''" />

   <div class="w-full space-y-3 space-x-3">
      <c-button
         tag="label"
         for="{{ form.picture.auto_id }}"
         bg-color="bg-theme-light"
         text-color="text-gray-dark"
         extra-classes="font-semibold inline-block"
      >
         <i class="fa-solid fa-upload"></i>
         Upload image
      </c-button>

      <template x-if="src">
         <img :src="src" :alt="fileName" class="mx-auto rounded-sm" />
      </template>
      {% render_field form.picture @change="[src, fileName] = $store.utils.displayImage($el)" %}
      {% render_field form.picture_title x-show="src" %}

      <c-button
         bg-color="bg-orange-400"
         text-color="text-white"
         extra-classes="float-end"
         x-click="src=''; deletePicture=true"
         :extra-attrs="{'x-show': 'src'}"
      >
         Delete picture
      </c-button>
      {% render_field form.picture_delete ::checked="deletePicture" %}
   </div>
   <c-blog-input-field :field="form.title" extra-attrs="::required = !isDeleted" />
   <c-blog-input-field :field="form.content" extra-attrs="x-autosize ::required = !isDeleted" />
</div>
