<div class="border-gray-light border-b pb-2">
   <c-user-card
      :user="blog.user"
      extra-classes="w-fit p-1 items-center"
      img-size="h-6 w-6"
      text-classes="flex space-x-1"
      text-element-classes="hover:underline"
   />
   <a
      href="{{ blog.get_absolute_url }}"
      class="hover:bg-gray-light mb-2 flex justify-between rounded-lg p-1"
   >
      <div class="break-all">
         <p class="line-clamp-2 text-2xl font-bold">{{ blog.title }}</p>
         <p class="text-gray-dark line-clamp-2 text-lg font-semibold">{{ blog.description }}</p>
      </div>
      {% if blog.picture %}
         <img class="h-full w-1/4 rounded-sm" src="{{ blog.picture.url }}" alt="blog picture" />
      {% endif %}
   </a>

   <div class="flex items-center justify-between px-1 text-sm">
      <div class="flex items-center space-x-2">
         {% include "interaction/like.html" with instance_model="blog" instance=blog is_liked=blog.is_liked %}
         <a
            href="{% url "blog:detail" root_depth=1 blog_id=blog.id comment_id=0 partial="content" %}#comment"
            hx-target="#content"
            hx-swap="outerHTML"
            class="inline-flex cursor-pointer items-center"
         >
            <i class="fa-regular fa-comment"></i>
            <p class="ml-0.5">{{ blog.comment_count }}</p>
         </a>
         {% include "interaction/save.html" with blog=blog is_saved=blog.is_saved %}
      </div>
      <div class="text-gray-dark text-sm">
         <i class="fa-solid fa-pen"></i>
         {{ blog.created_at|date:"M d, Y" }}
         {% if blog.created_at != blog.updated_at %}
            <strong>(Edited)</strong>
         {% endif %}
      </div>
   </div>
</div>
