{% load static %}
<div
   {% if comment.get_depth > 1 %}
      class="relative pl-5 before:absolute before:left-0 before:rounded-bl-md before:border-b-2
      before:border-gray-300 before:pt-10 before:pl-5 last:before:border-l-2"
   {% endif %}
>
   <div class="space-y-0.5 p-1 pt-5">
      <c-user-card :user="comment.user" />
      <p class="bg-gray-light rounded-lg p-2 text-sm">{{ comment.content }}</p>
      <div class="flex items-center justify-between">
         <div class="space-x-2 text-sm">
            <span><i class="fa-regular fa-heart text-base"></i>{{ comment.like_count }}</span>
            <span>
               <button
                  x-data='{replyURL: "{% url "interaction:reply-comment" blog_id=blog.id comment_id=comment.id %}"}'
                  @click='document.body.addEventListener("htmx:configRequest", (event)=>{event.detail.path = replyURL;});
                          reply = true; 
                          commenter = "{{ comment.user.username }}";'
                  class="cursor-pointer text-base hover:opacity-50"
               >
                  <i class="fa-regular fa-comment"></i></button
               >100
            </span>
         </div>
         <div class="text-gray-dark text-xs">
            {{ comment.created_at|date:"M d, Y" }}
            {% if comment.created_at != comment.updated_at %}
               <strong>(Editted)</strong>
            {% endif %}
         </div>
      </div>
   </div>

   {% if comment.get_depth|divisibleby:4 %}
      Go to comment thread
   {% else %}
      <div class="ml-3 [&>*:not(:last-child)]:border-l-2 [&>*:not(:last-child)]:border-gray-300">
         {% for sub_comment in comment.get_children %}
            <c-comment :blog="blog" :comment="sub_comment" />
         {% endfor %}
      </div>
   {% endif %}
</div>
