<form
   action="{% url "interaction:comment" blog_id=blog.id %}"
   method="post"
   hx-push-url="false"
   class="flex w-full flex-col rounded-md bg-white"
>
   {% csrf_token %}
   {{ form.content }}
   <div class="flex justify-between px-2 py-1.5">
      <div class="flex items-center text-lg">
         <i class="fa-regular fa-image"></i>
      </div>
      <c-button type="submit" bg-color="bg-theme-dark" text-color="text-white" padding="px-2 py-1">
         Comment
      </c-button>
   </div>
</form>
