<{{ tag|default:"button" }}
   {% if tag == 'a' %}
      href="{{ href }}"
   {% elif tag == 'label' %}
      for="{{ for }}"
   {% else %}
      type="{{ type|default:"button" }}"
   {% endif %}
   class="{{ bg_color }} {{ text_color }} {{ font_size|default:"text-sm" }} {{ padding|default:"px-2 py-1.5" }} {{ extra_classes }} cursor-pointer rounded-md hover:opacity-(--hover-opacity)"

   {% if x_click %}
      @click="{{ x_click }}"
   {% endif %}

   {% comment %} extra_attrs is a dict {% endcomment %}
   {% for attr in extra_attrs %}
      {{ attr }} = "{{ extra_attrs|get_item:attr }}"
   {% endfor %}

>
   {{ slot }}
</{{ tag|default:"button" }}>
