{% if field.errors %}
   <div
      x-data="{error: $el}"
      class="{{ width|default:"w-fit" }} flex items-center justify-between rounded-sm border-l-6 border-red-700 bg-red-300 p-1.5 text-lg font-bold text-red-800 shadow-sm"
   >
      <div class="mr-4 space-y-2">
         {% for error in field.errors %}
            <p>{{ error }}</p>
         {% endfor %}
      </div>
      <span
         @click="error.remove()"
         class="flex cursor-pointer items-center justify-center p-1 hover:opacity-50"
      >
         <i class="fa-solid fa-xmark"></i>
      </span>
   </div>
{% endif %}
