<div
   x-data="{message: $el,
            timeOut: null,
            isDelete: false,
            startTimeOut() {
               this.timeOut = setTimeout(() => {
                  this.isDelete = true;
                  this.timeOut = setTimeout(() => {
                  this.message.remove()
                  }, 1000)
               }, 4000)
            }}"
   :class="isDelete && 'animate-fadeOut'"
   x-init="startTimeOut()"
   @mouseenter="clearTimeout(timeOut); isDelete = false"
   @mouseleave="startTimeOut()"
   class="{% if type == "success" %}
      bg-theme-base
   {% elif type == "error" %}
      bg-red-400 text-off-white
   {% endif %} {{ extra_classes }} relative flex rounded-sm font-semibold shadow-sm"
>
   <p class="mr-4">{{ message }}</p>
   <span
      @click="message.remove()"
      class="flex cursor-pointer items-center justify-center hover:opacity-50"
   >
      <i class="fa-solid fa-xmark"></i>
   </span>

   {% comment %}
      <progress
         max="100"
         x-init="interval = setInterval(() => { $el.value += 1 }, (5000 / 100)); 
              setTimeout(() => { isDelete = true }, 4000)"
         class="[&::-webkit-progress-bar]:bg-gray-base [&::-webkit-progress-value]:bg-theme-dark absolute bottom-0 left-0 h-1 w-full rounded-full [&::-webkit-progress-bar]:rounded-b-sm [&::-webkit-progress-value]:rounded-b-sm"
      ></progress>
   {% endcomment %}
</div>
